:root {
  --color: rgb(170, 115, 55);
  --primary-bg-color: #efd4ad;
  --secondary-bg-color: #e2dfdf;
  --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --primary-button-bg: #3498db;
  --primary-button-hover: #217dbb;

  --primary-button-color: #fff;

  --font-size-md: 1rem;
  --font-line-md: 1rem;

  --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);

  --font-size-lg: 1.2rem;
  --font-line-lg: 1.2rem;

  --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);

  --column-size-sm: 1;
  --column-size-md: 2;
  --column-size-lg: 3;

  /* 
  breakpoint-sm: 600px;
  breakpoint-md: 900px;
  breakpoint-lg: 1200px;
  breakpoint-xl: 1536px; 
  */
}

/* reset */
body,
p,
a,
ul,
li,
figure {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

button,
a,
li {
  cursor: pointer;
}

body {
  background: var(--primary-bg-color);
  color: var(--color);
  font: var(--font-md);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  body {
    font: var(--font-lg);
  }
}

form {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

input[type="submit"] {
  background-color: #0078d4;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

figure {
  height: 100%;
  width: 100%;
}

figcaption > * {
  margin: 10px;
}

/* SHARED STYLES */
.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grey-bar {
  background: var(--secondary-bg-color);
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 1200px) {
  .grey-bar {
    padding: 30px 20px;
  }
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(var(--column-size-sm), 1fr);
  grid-gap: 10px;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .grid-three-cols {
    grid-template-columns: repeat(var(--column-size-md), 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid-three-cols {
    grid-template-columns: repeat(var(--column-size-lg), 1fr);
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.main-button {
  background: var(--primary-button-bg);
  color: var(--primary-button-color);
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.main-button:hover {
  background: var(--primary-button-hover);
}

.main-button a {
  color: var(--primary-button-color);
}

/* SHARED STYLES */

/*=============================================
 =                  HOMEPAGE               =
 =============================================*/

/* HEADER STYLES */

.navigation-links {
  display: none;
}

.burger-menu {
  display: block;
}

@media screen and (min-width: 600px) {
  .burger-menu {
    display: none;
  }
  .navigation-links {
    display: block;
  }
}

.nav-left {
  display: flex;
  justify-content: space-between;
}

.header-nav-icons {
  flex-wrap: wrap;
}

.header-nav-icons > * {
  cursor: pointer;
}

.logo {
  /* TODO: */
  width: 120px;
  height: 120px;
}

/* MAIN CONTENT STYLES */

.content {
  padding: 10%;
  margin-bottom: 5%;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 30px;
    margin-bottom: 40px;
  }
}

.card {
  width: 100%;
  height: 100%;
}

.card-image {
  width: 70%;
  height: fit-content;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .card-image {
    width: 400px;
    height: 300px;
  }
}

/* MAIN CONTENT STYLES END */

/* FOOTER STYLES */
.footer-nav {
  flex-wrap: wrap;
}

.aside {
  padding: 5%;
  margin: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: var(--secondary-bg-color);
}

/*=============================================
 =            PRODUCT DETAIL PAGE             =
 =============================================*/

.card-image-product {
  width: 70%;
  height: fit-content;
  object-fit: cover;
}

.card-product-figure {
  font-size: 20px;
  height: 100%;
  width: 80%;
}

@media screen and (min-width: 600px) {
  .card-image-product {
    width: 400px;
  }
}

@media screen and (min-width: 900px) {
  .card-image-product {
    width: 500px;
  }
}

.product-button {
  margin: 30px 10px;
}

/*=============================================
 =         PRODUCT DETAIL PAGE END            =
 =============================================*/

/*=============================================
 =              SHOPPING CART PAGE            =
 =============================================*/

.button {
  margin: 30px 10px;
}

/*=============================================
 =          SHOPPING CART PAGE END            =
 =============================================*/

.payment-form {
  padding-top: 40px;
  width: 80%;
  text-align: left;
}

@media screen and (min-width: 900px) {
  .payment-form {
    width: 50%;
  }
}

